/* CSS reset */
html, body, h1, h2, h3, h4, h5, h6, p, menu {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

/* Style */
$color-dark: #191919;
$color-light: #ffffff;

$displayWide: 1280;
$displayNarrow: 375;

@mixin fluid($property, $minValue, $maxValue) {
	$x: ($maxValue - $minValue)/($displayWide - $displayNarrow);
	$y: $maxValue - $displayWide * $x;
	#{$property}: calc(#{100*$x}vw + #{$y}px);

	@media screen and (max-width: ($displayNarrow - 1px)) {
			#{$property}: #{$minValue}px
	};

	@media screen and (min-width: ($displayWide + 1px)) {
			#{$property}: #{$maxValue}px
	};
};

html,
body {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	line-height: 1.4;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	text-rendering: optimizeLegibility;
}

body {
	height: 100%;
	background: $color-light;
	user-select: none;
}

main {
	height: calc(100% - 50px);
	padding: 25px;
	display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
	text-align: center;

	.main_error-code {
		@include fluid("font-size", 84, 128);
		line-height: 1;
		text-transform: uppercase;
		color: $color-dark;
	}

	.main_error-title {
		@include fluid("font-size", 22, 30);
		text-transform: capitalize;
		color: $color-dark;
		@include fluid("margin-bottom", 20, 24);
	}

	.main_error-message {
		@include fluid("font-size", 16, 20);
		color: $color-dark;
		&:last-of-type {
			@include fluid("margin-bottom", 20, 24);
		}
	}

	.main_error-link {
		display: inline-block;
		@include fluid("font-size", 14, 16);
		font-weight: 700;
		text-transform: capitalize;
		text-decoration: none;
		background: $color-dark;
		color: $color-light;
		padding: 10px 25px;
		border: 2px solid $color-dark;
		border-radius: 0;
		transition: background .3s ease, color .3s ease;
		&:hover {
			background: $color-light;
			color: $color-dark;
		}
	}
}




